$breakpoint-sm: 640px !default;
$breakpoint-sm-rem: 40rem !default;
$breakpoint-md: 768px !default;
$breakpoint-md-rem: 48rem !default;
$breakpoint-lg: 1024px !default;
$breakpoint-lg-rem: 64rem !default;
$breakpoint-xl: 1280px !default;
$breakpoint-xl-rem: 80rem !default;
$breakpoint-2xl: 1536px !default;
$breakpoint-2xl-rem: 96rem !default;
$breakpoint-3xl: 1792px !default;
$breakpoint-3xl-rem: 112rem !default;
